[workspace]
resolver = "3"

members = [
    "crates/rollup-boost",
    "crates/websocket-proxy",
    "crates/flashblocks-rpc",
]

[workspace.dependencies]
rollup-boost = { path = "crates/rollup-boost" }

tracing = "0.1.4"
tracing-subscriber = { version = "0.3.20", features = ["env-filter", "json"] }
clap = { version = "4", features = ["derive", "env"] }
futures = "0.3.31"
thiserror = "2.0.11"
serde = { version = "1", features = ["derive"] }
serde_json = "1.0.96"
metrics = "0.24.0"
metrics-derive = "0.1"
tokio = { version = "1", features = ["full"] }
eyre = "0.6.12"
url = "2.2.0"
sha2 = { version = "0.10", default-features = false }
backoff = "0.4.0"

# Reth deps
reth-optimism-payload-builder = { git = "https://github.com/paradigmxyz/reth", tag = "v1.9.1" }

# Alloy libraries
alloy-rpc-types-engine = "1.1.0"
alloy-rpc-types-eth = "1.1.0"
alloy-primitives = { version = "1.4.1", features = ["rand"] }
alloy-serde = "1.1.0"
alloy-eips = "1.1.0"
alloy-json-rpc = "1.1.0"
alloy-consensus = "1.1.0"
alloy-rpc-types = "1.1.0"
alloy-genesis = "1.1.0"
alloy-rpc-client = "1.1.0"
alloy-provider = "1.1.0"
op-alloy-network = "0.22.0"
op-alloy-rpc-types-engine = "0.22.0"
op-alloy-consensus = "0.22.0"
op-alloy-rpc-types = "0.22.0"
tokio-tungstenite = { version = "0.26.2", features = ["native-tls"] }
testcontainers = "0.23"
testcontainers-modules = { version = "0.11", features = ["redis"] }
