[package]
name = "rollup-boost"
version = "0.1.0"
edition = "2024"

[dependencies]
op-alloy-rpc-types-engine = "0.14.1"
alloy-rpc-types-engine = "0.14.0"
alloy-rpc-types-eth = "0.14.0"
alloy-serde = "0.14.0"
alloy-eips = { version = "0.14.0", features = ["serde"], optional = true }
alloy-primitives = { version = "1.0.0", features = ["rand"] }
tokio = { version = "1", features = ["full"] }
tracing = "0.1.4"
tracing-subscriber = { version = "0.3.11", features = ["env-filter", "json"] }
serde = { version = "1", features = ["derive"] }
thiserror = "2.0.12"
clap = { version = "4", features = ["derive", "env"] }
jsonrpsee = { version = "0.24", features = ["server", "http-client", "macros"] }
moka = { version = "0.12.10", features = ["sync"] }
http = "1.1.0"
dotenv = "0.15.0"
tower = "0.4.13"
tower-http = { version = "0.5.2", features = ["decompression-full"] }
http-body-util = "0.1.2"
hyper = { version = "1.4.1", features = ["full"] }
hyper-util = { version = "0.1", features = ["full"] }
hyper-rustls = { version = "0.27.0", features = ["ring"] }
rustls = { version = "0.23.23", features = ["ring"] }
serde_json = "1.0.96"
opentelemetry = { version = "0.28.0", features = ["trace"] }
opentelemetry-otlp = { version = "0.28.0", features = [
    "http-proto",
    "http-json",
    "reqwest-client",
    "trace",
    "grpc-tonic",
] }
opentelemetry_sdk = { version = "0.28.0", features = ["rt-tokio"] }
tracing-opentelemetry = "0.29.0"
futures = "0.3.31"
metrics = "0.24.0"
metrics-exporter-prometheus = "0.16.0"
tokio-tungstenite = { version = "0.26.2", features = ["native-tls"] }
url = "2.5"
metrics-util = "0.19.0"
eyre = "0.6.12"
paste = "1.0.15"
rand = "0.8.5"

# dev dependencies for integration tests
parking_lot = "0.12.3"
time = { version = "0.3.36", features = ["macros", "formatting", "parsing"], optional = true }
lazy_static = {version = "1.5.0", optional = true }

[dev-dependencies]
op-alloy-consensus = "0.14.1"
anyhow = "1.0"
assert_cmd = "2.0.10"
predicates = "3.1.2"
tokio-util = { version = "0.7.13" }
nix = "0.15.0"
bytes = "1.2"
reth-rpc-layer = { git = "https://github.com/paradigmxyz/reth.git", rev = "v1.3.11" }
ctor = "0.4.1"

[features]
integration = [
    "dep:lazy_static",
    "dep:time",
    "dep:alloy-eips"
]

[[bin]]
name = "rollup-boost"
path = "src/bin/main.rs"

[lib]
path = "src/lib.rs"
