[package]
name = "rollup-boost"
version = "0.1.0"
edition = "2021"

[dependencies]
op-alloy-rpc-types-engine = "0.7.3"
op-alloy-rpc-types = "0.7.3"
op-alloy-rpc-jsonrpsee = { version = "0.9.6", features = ["client"] }
alloy-rpc-types-engine = "0.7.3"
alloy-rpc-types-eth = "0.7.3"
alloy-primitives = "0.8.10"
alloy-eips = { version = "0.9.2", features = ["serde"] }
tokio = { version = "1", features = ["full"] }
tracing = "0.1.4"
tracing-subscriber = { version = "0.3.11", features = ["env-filter"] }
serde = { version = "1", features = ["derive"] }
thiserror = "1.0"
clap = { version = "4", features = ["derive", "env"] }
jsonrpsee = { version = "0.24", features = ["server", "http-client", "macros"] }
lru = "0.10.0"
reqwest = "0.12.5"
http = "1.1.0"
dotenv = "0.15.0"
tower = "0.4.13"
http-body = "0.4.5"
http-body-util = "0.1.2"
hyper = { version = "1.4.1", features = ["full"] }
hyper-util = { version = "0.1", features = ["full"] }
serde_json = "1.0.96"
reth-rpc-layer = { git = "https://github.com/paradigmxyz/reth.git", rev = "e022b6fd92a33cd44e3ae51ee2fc2ecc0f773222" }
reth-optimism-payload-builder = { git = "https://github.com/paradigmxyz/reth.git", rev = "e022b6fd92a33cd44e3ae51ee2fc2ecc0f773222", features = [
    "optimism",
] }
reth-payload-primitives = { git = "https://github.com/paradigmxyz/reth.git", rev = "e022b6fd92a33cd44e3ae51ee2fc2ecc0f773222" }
opentelemetry = { version = "0.26.0", features = ["trace"] }
opentelemetry-http = "0.26.0"
opentelemetry-otlp = { version = "0.26.0", features = [
    "http-proto",
    "http-json",
    "reqwest-client",
    "trace",
] }
opentelemetry_sdk = { version = "0.26.0", features = ["rt-tokio"] }
tracing-opentelemetry = "0.27.0"
futures = "0.3.31"
metrics-derive = "0.1"
metrics = "0.24.0"
metrics-exporter-prometheus = "0.16.0"
metrics-process = "2.3.1"
metrics-util = "0.18.0"
tokio-tungstenite = "0.26.1"
url = "2.5"
eyre = "0.6.12"
paste = "1.0.15"

# dev dependencies for integration tests
time = { version = "0.3.36", features = ["macros", "formatting", "parsing"] }
futures-util = "0.3.31"
lazy_static = "1.5.0"

[dev-dependencies]
anyhow = "1.0"
assert_cmd = "2.0.10"
predicates = "3.1.2"

[features]
integration = []
