name: Kurtosis Integration Tests

on:
  # Allow manual trigger
  workflow_dispatch:
  # Run nightly at 00:00 UTC
  schedule:
    - cron: "0 0 * * *"
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  integration-tests:
    name: Run Kurtosis Integration Tests
    runs-on: warp-ubuntu-latest-x64-16x

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          profile: minimal

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install Just
        uses: taiki-e/install-action@just

      - name: Setup Kurtosis
        shell: bash
        run: |
          echo "deb [trusted=yes] https://apt.fury.io/kurtosis-tech/ /" | sudo tee /etc/apt/sources.list.d/kurtosis.list
          sudo apt update
          sudo apt install kurtosis-cli

          kurtosis analytics disable
          echo "$(dirname $(which kurtosis))" >> $GITHUB_PATH

      - name: Setup K8s
        uses: medyagh/setup-minikube@latest

      - name: Get Kubeconfig
        id: kubeconfig
        shell: bash
        run: |
          cat ~/.kube/config > kubeconfig
          echo "kubeconfig=$(cat kubeconfig | base64 -w 0)" >> $GITHUB_OUTPUT

      - name: Configure K8s Backend
        shell: bash
        run: |
          kubectl config use-context minikube
          kubectl get nodes
          echo "Kubernetes engine is ready!"

          kurtosis_config=$(kurtosis config path)
          echo "config-version: 2" > $kurtosis_config
          echo "should-send-metrics: false" >> $kurtosis_config
          echo "kurtosis-clusters:" >> $kurtosis_config
          echo "  docker:" >> $kurtosis_config
          echo "    type: \"docker\"" >> $kurtosis_config
          echo "  minikube:" >> $kurtosis_config
          echo "    type: \"kubernetes\"" >> $kurtosis_config
          echo "    config:" >> $kurtosis_config
          echo "      kubernetes-cluster-name: \"minikube\"" >> $kurtosis_config
          echo "      storage-class: \"standard\"" >> $kurtosis_config
          echo "      enclave-size-in-megabytes: 200" >> $kurtosis_config

          cat $kurtosis_config

          kurtosis cluster set minikube

      - name: Run kurtosis gateway in background
        uses: JarvusInnovations/background-action@v1
        with:
          run: |
            kurtosis gateway
          wait-on: |
            tcp:localhost:9710

      - name: Check kurtosis engine in kubernetes cluster
        shell: bash
        run: |
          kurtosis engine status
          kurtosis enclave ls || ( kurtosis engine restart && kurtosis enclave ls )

      - name: Devnet Up
        run: |
          eval $(minikube -p minikube docker-env)
          just kurtosis-devnet-up

      - name: Stress Tests
        run: |
          just stress-test

      - name: Devnet Down
        run: |
          just kurtosis-devnet-down
