name: Linting

on:
    push:
      branches:
        - main
    pull_request:

jobs:
    lint:
      runs-on: ubuntu-latest
  
      steps:
        - name: Checkout code
          uses: actions/checkout@v2
  
        - name: Set up Rust
          uses: actions-rs/toolchain@v1
          with:
            toolchain: stable
            override: true
            components: rustfmt
  
        - name: Build
          run: cargo build --verbose
  
        - name: Lint
          run: cargo clippy -- -D warnings
  
        - name: Format code
          run: cargo fmt -- --check