name: Release

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

env:
  IMAGE_NAME: ${{ github.repository }}
  CARGO_TERM_COLOR: always
  REGISTRY: ghcr.io

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Publish Docker Image
    strategy:
      matrix:
        config:
          - platform: linux/amd64
            runner: ubuntu-latest
          - platform: linux/arm64
            runner: arm64-ubuntu-22.04-8core
    runs-on: ${{ matrix.config.runner }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2

      - name: Set env
        run: |
          platform=${{ matrix.config.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: Print version
        run: |
          echo $RELEASE_VERSION
          echo ${{ env.RELEASE_VERSION }}

      - name: Log in to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=sha
            type=raw,value=latest

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        id: build
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: .
          file: Dockerfile
          push: true
          build-args: |
            VERSION=${{ env.RELEASE_VERSION }}
          platforms: ${{ matrix.config.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
          annotations: ${{ steps.meta.outputs.annotations }}

